<div *ngIf="!pais; else divPais" 
  class="alert alert-info">
    Espere un momento por favor...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>País: <small>{{pais.name.common}}</small></h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.svg" alt="imageAlt" class="img-thumbnail"/>
        </div>
        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Población: </strong> {{pais.population}}
                </li>
                <li class="list-group-item">
                    <strong>Nombre corto: </strong> {{pais.cca2}}
                </li>
                <li class="list-group-item">
                    <strong>Capital: </strong> {{pais.capital}}
                </li>
                <li class="list-group-item">
                    <strong>Continente: </strong> {{pais.continents}}
                </li>
                <li class="list-group-item">
                    <strong>Subregión: </strong> {{pais.subregion}}
                </li>
                <li class="list-group-item">
                    <strong>Superficie: </strong> {{pais.area}}
                </li>
                <li class="list-group-item">
                    <strong>Límites: </strong> {{pais.borders}}
                </li>
                <li class="list-group-item">
                    <strong>Zona horaria: </strong> {{pais.timezones}}
                </li>
                <li class="list-group-item">
                    <strong>Dominio web: </strong> {{pais.tld}}
                </li>
                <li class="list-group-item">
                    <strong>Comienzo de la semana: </strong> {{pais.startOfWeek}}
                </li>
            </ul>
        </div>
    </div>

    <h3>Otros nombres: </h3>
    <div class="row">
        <div class="col">
            <span class="badge bg-primary mr-1">{{pais.altSpellings}}</span>
        </div>
    </div>
</ng-template>



